
<nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style="cursor: pointer;" routerLink="/"  >Recipe Book</a>
            </div>

            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                  <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
                </button>
                <a routerLink="/" class="navbar-brand">Recipe Book</a>
              </div>
              <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"> -->
            
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#collapsibleNavId" 
                    aria-controls="collapsibleNavId"
                        aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <!-- <a class="nav-link active" href="#" aria-current="page" 
                        (click)="onSelectMenu('receipe')">Recipes <span class="visually-hidden">(current)</span></a> -->
                        <a class="nav-link active" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"  
                        routerLink ='/receipes'>Recipes <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" href="#" (click)="onSelectMenu('Shopping')">Shopping List</a> -->
                    <a class="nav-link" routerLink="/shoppinglist" routerLinkActive="active">Shopping List</a>
                </li>

                
                
            </ul> 
                

        
        <div class="navbar-nav right btn-group" role="group" appDropdown>
            <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" 
            aria-expanded="true" aria-haspopup="true">
                Manage <span class="caret"></span>
            </button>
      
            <ul class="dropdown-menu" >
                <li>   <a class="dropdown-item" style="cursor: pointer;">save data</a></li>
                    <li> <a class="dropdown-item" style="cursor: pointer;">fetch data</a></li>
            </ul> 
       </div>

       
        </div>
    </div>
<!-- </div> -->
</nav>


<!-- <ul class="nav navbar-na">
    <li class="nav-item">
        <a class="nav-link active" href="#" aria-current="page">Active link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled link</a>
    </li>
</ul> -->
