 
<div class="row">
    <div class="col-xs-4">
        <button type="button" name="" id="" class="btn btn-primary">New Receipe</button>
        </div>
</div>

<div class="row">
    <div class="col-xs-12">
     <div class="list-group-item clearfix" *ngFor="let rec of recipes">
        <div class="pull-left">
            <h4 class="list-group-item-heading">{{rec.name}}</h4>
            <p class="list-group-item-text">{{rec.description}}</p>
        </div>

        <div class="pull-right">
            <img [src]="rec.imagePath" alt="image" class="img-responsive" style="max-height:100px">
        </div>
     </div>
    </div> 
</div>