 
<div class="row">
    <div class="col-xs-4">
        <button type="button" name="" id="" class="btn btn-primary" >New Receipe</button>
        </div>
     
        
        <!-- <div class="col-xs-4">
         {{cnt}}--{{liked}} --- {{refvsl}}
        </div> -->
</div>
<div class="row"><div class="col-xs-12">
    <app-receipe-item *ngFor="let recipe of recipes" [receipe]="recipe" 
    (itemSelected)="onitemSelected(recipe)">
    <!-- <h1> {{cnt}}</h1> -->
</app-receipe-item>
</div>
</div>



 