<div class="row">
    <div class="col-xs-12">
        <img [src]="receipe.imagePath" alt="{{receipe.name}}" class="img-responsive" >
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
       <h3>{{receipe.name}}</h3>
    </div>
</div>

 
    <div class="col-xs-12">
        <div class="btn-group" role="group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" 
            aria-expanded="true" aria-haspopup="true">
                Manage <span class="caret"></span>
            </button>
      
            <ul class="dropdown-menu" >
                <li> <a class="dropdown-item" href="#">Add Ingredient</a> </li>
                    <li> <a class="dropdown-item" href="#">Edit recipe</a></li>
                        <li> <a class="dropdown-item" href="#">Delete recipe</a></li>
            </ul>
        </div>
       </div>  
 

<div class="row">
    <div class="col-xs-12">
       <h5>{{receipe.description}}</h5>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
       <h5>Inherident</h5>
    </div>
</div>

 