<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
       <h1>Recipe Name</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" role="group">
            <button id="dropdownId" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Manage <span class="caret"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="#">Add Ingredient</a>
                <a class="dropdown-item" href="#">Edit recipe</a>
                <a class="dropdown-item" href="#">Delete recipe</a>
            </div>
        </div>
       </div> 
</div>

<div class="row">
    <div class="col-xs-12">
       <h5>Description</h5>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
       <h5>Inherident</h5>
    </div>
</div>
